//sidebar
$menuBg:#304156;
$subMenuBg:#00233e;
$menuHover:#001528;
$darkBlueArmellini: #01355F;
$lightBlueArmellini: #05467a;
$grayLabelsFrom: #838181;
$redArmellini: rgba(237, 28, 37, 1);
$greenSuccess: #249d24;
$greenSuccessDark: rgba(0, 141, 0, 1);
$yellowWarning: #dea623;